.preview-container {
  position: sticky;
  top: 100px;
  width: fit-content;
  height: fit-content;
  grid-area: 1 / 1 / 2 / 5;
  margin-right: 40px;
  @media screen and (max-width: 768px) {
    display: none;
  }
}
.list-container {
  grid-area: 1 / 5 / 2 / 9;
  display: flex;
  flex-direction: column;
  .list-item:last-child {
    border-bottom: 1px solid #88888888;
  }
  .list-item {
    cursor: pointer;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 1fr;
    padding: 24px 0px 24px 0px;
    min-height: 130px;
    border-top: 1px solid #88888888;
    display: flex;
    align-items: flex-start;

    .list-item-id {
      grid-area: 1 / 1 / 2 / 2;
      
      font-weight: 800;
      // font-size: 26px;
      font-size: 2.75em;
      letter-spacing: 0.03em;
    }
    .list-item-detail {
      grid-area: 1 / 2 / 2 / 9;
      font-size: 16px;
      align-items: center;
      .list-item-name {
        
        font-weight: 800;
        // font-size: 40px;
        font-size: 3vw;
        letter-spacing: 0.03em;
        text-align: start;
        padding-left: 20px;
      }
      .list-item-tags {
        display: flex;
        flex-wrap: wrap;
        font-size: 16px;
        .list-item-tag {
          width: max-content;
          // background: #88888844;
          background: transparent;
          color: gray;
          padding: .25em .5em .25em 20px;
          border-radius: 15px;
        }
      }
    }
  }
}

.player {
  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

// @media (max-width: 575.98px) { ... }
// @media (max-width: 767.98px) { ... }

@media (max-width: 991.98px) {

  .list-container {
    .list-item {
      .list-item-id {
        font-size: 6vw;
      }
      .list-item-detail {
        font-size: 16px;
        .list-item-name {
          font-size: 6vw;
        }
      }
    }
  }

}
// @media (max-width: 1199.98px) { ... }
// @media (max-width: 1399.98px) { ... }