.contact-container {
  display: flex;
  align-items: center;
  gap: 2em;
  form {
    // align-items: stretch;
    display: flex;
    justify-content: center;
    .input-wrapper {
      background-color: black;
      border: 1px solid gray;
      border-radius: 37px;
      padding: 0 4em 0 1em;
      position: relative;
      z-index: 1 !important;
      padding-right: 10em;
      align-items: stretch;
    }
    input {
      min-width: 350px;
    }
    button {
      width: 180px;
      height: calc( 100% + 2px );
      position: absolute;
      z-index: 2;
      top: -1px;
    }
  }
}

.contact-email {
  height: 65px;
  border: 0px;
  background: transparent;
  font-size: 20px;
  font-family: 'Nunito', sans-serif;
  font-weight: 500;
}

.contact-blanco-email {
  width: fit-content;
  align-self: center;
  margin-left: 26px;
  font-size: 20px;
  font-family: 'Nunito', sans-serif;
  font-weight: 500;
  letter-spacing: 3px;
}

.error-msg {
  position: absolute;
  opacity: 0;
  top: 20%;
}

.success-msg {
  position: absolute;
  opacity: 0;
  top: 20%;
}

// @media (max-width: 575.98px) { ... }
// @media (max-width: 767.98px) { ... }

@media (max-width: 991.98px) {

  .contact-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    form {
      width: 100%;
      flex-direction: column;
      .input-wrapper {
        padding: 0;
        border: 0;
      }
      input {
        margin-bottom: 1em;
        width: 100%;
        left: 0;
        padding: 1em;
        border: 1px solid gray;
        border-radius: 37px;
      }
      button {
        width: 100%;
        height: auto;
        position: relative;
      }
    }
  }

}
// @media (max-width: 1199.98px) { ... }
// @media (max-width: 1399.98px) { ... }