$body-bg-dark: #000000;
// $primary: #33fff1;

/* Agrega colores personalizados */
// $my-custom-color: #ff9900;

// $theme-colors: (
//   "primary": $primary,
// );

// Custom.scss
// Option A: Include all of Bootstrap
@import "../../node_modules/bootstrap/scss/bootstrap";


body {
  font-family: var(--font-nunito) !important;
  // overflow-y: hidden;
}

// ::-webkit-scrollbar {
//   width: 0.1rem; /* Ajusta el ancho según sea necesario */
// }
// /* Hace que la barra de desplazamiento vertical sea invisible */
// ::-webkit-scrollbar-thumb {
//   background-color: transparent;
// }
// ::-webkit-scrollbar-track {
//   background-color: transparent;
// }


.main-wrapper {
  width: 100vw;
  min-height: 100vh;
  // overflow: hidden;
  scroll-snap-type: y mandatory;
  // .section {
  //  &.section-about-us {
  //   opacity: .25;
  //   transform: scale(.5);
  //  } 
  // }
}

// fonts
.karla {
  font-family: var(--font-karla);
  font-weight: 900;
}
.nunito {
  font-family: var(--font-nunito);
}

.section {
  height: auto;
  min-height: 768px;
  &.full {
    height: 100vh;
  }
}


.btn-gradient {
  padding: .75em 1.5em;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 2em;
  gap: .75em;
  font-weight: 700;
  font-size: 1.25em;
  background: url('../../assets/images/bg-gradient-button.png');
  background-size: cover;
  background-position: center;
  border: 0;

  moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  &:hover {
    background-position: 100% 0;
    moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;

  }
}

.cover-wrapper {
  width: 100%;
  height: 100vh;
  position: relative;
  color: #ffffff;
  .img-cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    opacity: .25;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
  }
}

.header-title {
  font-size: 6vw;
}

.swiper-button-next,
.swiper-button-prev {
  &::after {
    color: #000000;
  }
}

// @media (max-width: 575.98px) { ... }
// @media (max-width: 767.98px) { ... }

@media (max-width: 991.98px) {

  .section {
    min-height: auto;
  }

  .header-title {
    font-size: 15vw;
  }
  

}
// @media (max-width: 1199.98px) { ... }
// @media (max-width: 1399.98px) { ... }